<div class="container contenedor">
    <form>
        <div class="form-group">
            <label for="InputNameBook">Name of the book</label>
            <input type="text" class="form-control" id="InputNameBook" #namebook>
        </div>
        <div class="form-group">
            <label for="InputAuthorBook">Author of the book</label>
            <input type="text" class="form-control" id="InputAuthorBook" #authorbook>
        </div>
        <div class="form-group">
            <label for="InputNumberPages">Number of pages</label>
            <input type="number" class="form-control" id="InputNumberPages" #numberpages>
        </div>
        
        <button type="submit" class="btn btn-primary" (click)= "savebook(namebook.value, authorbook.value,numberpages.value)">Add</button>
    </form>
</div>
<div class="dropdown-divider"></div>
<h3 style="text-align: center;">Books list</h3>
<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name of the book</th>
            <th scope="col">Author of the book</th>
            <th scope="col">Number of pages</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of books">
            <td>{{x.namebook}}</td>
            <td>{{x.authorbook}}</td>
            <td>{{x.numpages}}</td>
          </tr>
        </tbody>
      </table>
</div>